nav{
    display:flex;
    justify-content: center;
    
}
nav a{
    font-size: xx-large;
}
nav p{
    color: green;
    font-size: 1.2rem;
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.A{
    background-color: rgb(221, 59, 10);
    grid-area: 1/1/3/2;
}

.B{
    background-color:orange;
    grid-area:1/3/2/4;
}
.C{
    background-color: rgb(35, 150, 6);
    grid-area: 2//3/;
}
.D{
    background-color: rgb(10, 219, 191);
}