nav{
    display:flex;
    justify-content: center;
    
}
nav a{
    font-size: xx-large;
}
nav p{
    color: green;
    font-size: 1.2rem;
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr; 
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 15px;
    padding: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
}
.top{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.A{
    background-color: rgb(221, 59, 10);
    padding: 6rem;
}

.B{
    background-color:orange;
    padding: 6rem;
}

.C{
    background-color: rgb(35, 150, 6);
    padding: 6rem;
}

.D{
    background-color: rgb(10, 219, 191);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}
